<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <!-- SpringMVC Servlet -->
  <servlet>
    <servlet-name>gae-sample</servlet-name>
    <servlet-class>com.github.jerryxia.devhelperservletgaesample.web.HomeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>gae-sample</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- session-config -->
  <session-config>
    <session-timeout>525600</session-timeout>
    <cookie-config>
      <name>JSESSIONID</name>
      <path>/</path>  
      <http-only>false</http-only>
      <secure>false</secure>
      <max-age>1521790538</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
    <tracking-mode>URL</tracking-mode>
    <!--
    <tracking-mode>SSL</tracking-mode>
    -->
  </session-config>
</web-app>
