<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>request capture</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
[v-cloak] { display: none !important; }
html, body {
    height: 100%;
}
body {
    padding-top: 70px;
}
hr{ margin-top:1px;margin-bottom:1px; }
#wrap {
    min-height: 100%;
    padding-bottom: 60px;
    margin: 0 auto -60px;
}
#loglevels .list-group-item.active,
#loglevels .list-group-item.active:hover,
#loglevels .list-group-item.active:focus {
    color: #555;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}
span.metric {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px;
    -webkit-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -moz-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -ms-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -o-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
}
span.metric-default {
    color: #777;
    border-color: #777;
}
.page-header {
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn-toolbar-top {
    margin-bottom: 10px;
}
.btn-toolbar {
    margin-left: -5px;
}
.btn-toolbar-label {
    padding: 7px 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}
.footer {
    background-color: #f5f5f5;
}
.footer .container .credit {
    margin: 20px 0;
}

.td_log_message{
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.td_expand_message {
    width: 100%;
    word-break: break-all;
}
.td_expand_message pre{
    margin: 0px; 
    padding: 0px; 
    font-size: 85%; 
    border: 0px; 
    border-radius: 4px; 
    background-color: inherit;
}
</style>
</head>
<body>
    <div id="wrap" v-cloak>
        <nav class="navbar navbar-default navbar-fixed-top"
            role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span
                            class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Request Capture</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <router-link to="/apirecords" tag="li" active-class="active"> <a>Api Records</a></router-link>
                        <router-link to="/apilogs" tag="li" active-class="active"> <a>Api Logs</a></router-link>
                        <router-link to="/alllogs" tag="li" active-class="active"> <a>All Logs</a></router-link>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <router-link to="/settings_replay" tag="li" active-class="active"><a>Replay</a></router-link>
                                <!-- <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-bottom: 20px;">
            <router-view></router-view>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <ul class="list-inline credit" style="display:none;">
                <li>
                    <a href="https://github.com/JerryXia/BizHttpRequestTest" target="_blank">devHelper.ReqeustCapture</a>
                </li>
                <li>MemoryStorage</li>
                <li>Server Time: 2016/12/12 7:14:17 GMT</li>
                <li>Generated: 1.29ms</li>
            </ul>
        </div>
    </div>


    <template id="apiRecords">
    <div class="row">
        <div class="col-md-12">
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.id" /> id</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.timeStamp" /> timeStamp</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.method" /> method</label>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.requestAndQuery" /> requestAndQuery</label>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.parameter" /> form parameter</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.payload" /> payload</label>
                          </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-hover" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th v-show="logTbShow.id" style="min-width:116px;width:116px;word-break: break-all;">id</th>
                                <th v-show="logTbShow.timeStamp" style="min-width:124px;width:124px;word-break: break-all;">timeStamp</th>
                                <th v-show="logTbShow.method" style="min-width:70px;width:70px;word-break: break-all;">method</th>
                                <th v-show="logTbShow.requestAndQuery" style="width:16%;">requestAndQuery</th>
                                <th v-show="logTbShow.parameter">form parameter</th>
                                <th v-show="logTbShow.payload">payload</th>
                                <th style="min-width:92px;width: 92px;">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="apiRecord in apiRecordsPagedList">
                                <td v-show="logTbShow.id" v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="apiRecord.id"><small>{{apiRecord.id}}</small></td>
                                <td v-show="logTbShow.timeStamp" v-bind:title="apiRecord.timeStamp" style="min-width:124px;width:124px;word-break: break-all;"><small>{{apiRecord.timeStamp | timeStamp('yyyy/MM/dd HH:mm:ss') }}</small></td>
                                <td v-show="logTbShow.method" style="min-width:70px;width:70px;word-break: break-all;" v-bind:title="apiRecord.contentType"><code>{{apiRecord.method}}</code></td>
                                <td v-show="logTbShow.requestAndQuery" v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="apiRecord | showRequestAndQuery"><small>{{ apiRecord | showRequestAndQuery }}</small></td>
                                <td v-show="logTbShow.parameter" v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]"><small>{{ apiRecord.parameterMap | parameterFormater }}</small></td>
                                <td v-show="logTbShow.payload" v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]"><small>{{ apiRecord.payload }}</small></td>
                                <td style="min-width:92px;width: 92px;">
                                    <input type="button" class="btn btn-xs btn-info" value="Log" data-loading-text="Loading..." v-on:click="showLogs(apiRecord.id, apiRecord.requestId, $event)" />
                                    <input type="button" class="btn btn-xs btn-success" value="replay" data-loading-text="pending..." v-on:click="replay(apiRecord, $event)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-warning" role="alert" style="text-align: center;">{{fetchedMessage}}<button type="button" class="btn btn-default btn-xs" id="btn_loadmore" v-on:click="fetchNextData()" autocomplete="off"><i class="fa fa-spinner fa-spin" v-show="isFetchingData"></i>{{fetchedButtonValue}}</button></div>

                <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="apiRecordLogsTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="apiRecordLogsTitle">
                            <router-link :to="{ path: '/apilogs', query: { apiRecordId: '' } }">Api Request Logs</router-link>
                          <a href="" target="_blank"></a></h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-condensed table-bordered table-hover" style="table-layout: fixed;">
                                <tbody>
                                  <tr v-for="log in apiRecordLogs">
                                    <td style="min-width: 70px; width: 70px; word-break: break-all;"><small><span class="label" v-bind:class="log.level|logLevelFormater">{{log.level}}</span></small></td>
                                    <td class="td_expand_message"><pre v-if="log.message.indexOf('\n') > -1">{{log.message}}</pre><small v-else>{{log.message}}</small></td>
                                  </tr>
                                </tbody>
                             </table>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </template>


    <template id="apiLogs">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-hover" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="min-width:116px;width:116px;word-break: break-all;">id</th>
                                <th style="min-width:124px;width:124px;word-break: break-all;">timeStamp</th>
                                <th style="min-width:70px;width:70px;word-break: break-all;">method</th>
                                <th style="width:16%;">requestAndQuery</th>
                                <th>form parameter</th>
                                <th>payload</th>
                                <th style="min-width:92px;width: 92px;">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="apiRecord in apiRecordsPagedList">
                                <td v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="apiRecord.id"><small>{{apiRecord.id}}</small></td>
                                <td v-bind:title="apiRecord.timeStamp" style="min-width:124px;width:124px;word-break: break-all;"><small>{{apiRecord.timeStamp | timeStamp('yyyy/MM/dd HH:mm:ss') }}</small></td>
                                <td style="min-width:70px;width:70px;word-break: break-all;" v-bind:title="apiRecord.contentType"><code>{{apiRecord.method}}</code></td>
                                <td v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="apiRecord | showRequestAndQuery"><small>{{ apiRecord | showRequestAndQuery }}</small></td>
                                <td v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]"><small>{{ apiRecord.parameterMap | parameterFormater }}</small></td>
                                <td v-on:dblclick="switchExpandMessage(apiRecord)" v-bind:class="[ apiRecord.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]"><small>{{ apiRecord.payload }}</small></td>
                                <td style="min-width:92px;width: 92px;">
                                    <input type="button" class="btn btn-xs btn-info" disabled="disabled" value="Log" />
                                    <input type="button" class="btn btn-xs btn-success" value="replay" data-loading-text="pending..." v-on:click="replay(apiRecord, $event)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </template>
    

    <template id="allLogs">
    <div class="row">
        <div class="col-md-2">
            <div id="loglevels" class="list-group">
                <router-link :to="{ path: '/alllogs/ALL', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>ALL
                    <span class="pull-right"><span class="metric metric-default">{{logCount.ALL}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/TRACE', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>TRACE
                    <span class="pull-right"><span class="metric metric-default">{{logCount.TRACE}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/DEBUG', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>DEBUG
                    <span class="pull-right"><span class="metric metric-default">{{logCount.DEBUG}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/INFO', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>INFO
                    <span class="pull-right"><span class="metric metric-default">{{logCount.INFO}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/WARN', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>WARN
                    <span class="pull-right"><span class="metric metric-default">{{logCount.WARN}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/ERROR', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>ERROR
                    <span class="pull-right"><span class="metric metric-default">{{logCount.ERROR}}</span></span>
                </router-link>
                <router-link :to="{ path: '/alllogs/FATAL', query: { from: 0, count: 16 } }" class="list-group-item" active-class="active" append>FATAL
                    <span class="pull-right"><span class="metric metric-default">{{logCount.FATAL}}</span></span>
                </router-link>
            </div>
        </div>
        <div class="col-md-10">
            <h1 class="page-header" v-show="false"> Logs</h1>
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.timeStamp" /> timeStamp</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.level" /> level</label>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.threadName" /> threadName</label>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.loggerName" /> loggerName</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.message" /> message</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.host" /> host</label>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <div class="checkbox">
                              <label><input type="checkbox" v-model="logTbShow.ip" /> ip</label>
                          </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-hover" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th v-show="logTbShow.httpRequestRecordId" style="min-width:100px;width:100px;word-break: break-all;">httpRequestRecordId</th>
                                <th v-show="logTbShow.timeStamp" style="min-width:124px;width:124px;word-break: break-all;">timeStamp</th>
                                <th v-show="logTbShow.level" style="min-width:70px;width:70px;word-break: break-all;">level</th>
                                <th v-show="logTbShow.threadName" style="width:16%;">threadName</th>
                                <th v-show="logTbShow.loggerName" style="width:20%;">loggerName</th>
                                <th v-show="logTbShow.message">message</th>
                                <th v-show="logTbShow.host" style="min-width:100px;width:100px;word-break: break-all;">host</th>
                                <th v-show="logTbShow.ip" style="min-width:102px;width:102px;word-break: break-all;">ip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in queryedLogPagedList">
                                <td v-show="logTbShow.httpRequestRecordId" style="min-width:100px;width:100px;word-break: break-all;"><small>{{log.httpRequestRecordId}}</small></td>
                                <td v-show="logTbShow.timeStamp" style="min-width:124px;width:124px;word-break: break-all;"><small>{{log.timeStamp | timeStamp('yyyy/MM/dd HH:mm:ss') }}</small></td>
                                <td v-show="logTbShow.level" style="min-width:70px;width:70px;word-break: break-all;"><small><span class="label" v-bind:class="log.level|logLevelFormater">{{log.level}}</span></small></td>
                                <td v-show="logTbShow.threadName" v-on:dblclick="switchExpandMessage(log)" v-bind:class="[ log.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="log.threadName"><small>{{log.threadName}}</small></td>
                                <td v-show="logTbShow.loggerName" v-on:dblclick="switchExpandMessage(log)" v-bind:class="[ log.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]" v-bind:title="log.loggerName"><small>{{log.loggerName}}</small></td>
                                <td v-show="logTbShow.message" v-on:dblclick="switchExpandMessage(log)" v-bind:class="[ log.isExpandMessage ? 'td_expand_message' : 'td_log_message' ]"><pre v-if="log.isExpandMessage && log.message.indexOf('\n') > -1">{{log.message}}</pre><small v-else>{{log.message}}</small></td>
                                <td v-show="logTbShow.host" style="min-width:100px;width:100px;word-break: break-all;"><small>{{log.host}}</small></td>
                                <td v-show="logTbShow.ip" style="min-width:102px;width:102px;word-break: break-all;"><small>{{log.ip}}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group paginator">
                        <router-link :to="{ path: '/alllogs/' + queryLevel, query: { from: queryFrom - queryCount, count: queryCount } }" class="btn btn-default" append>&laquo;&nbsp;Prev</router-link>
                        <router-link :to="{ path: '/alllogs/' + queryLevel, query: { from: queryFrom + queryCount, count: queryCount } }" class="btn btn-default" append>Next&nbsp;&raquo;</router-link>
                        <router-link :to="{ path: '/alllogs/' + queryLevel, query: { from: Math.floor(logCount[queryLevel] / queryCount) * queryCount, count: queryCount } }" class="btn btn-default" append>Last</router-link>
                    </div>
                    <div class="btn-toolbar-spacer"></div>
                    <div class="btn-toolbar-label">Total items: {{ logCount[queryLevel] }}</div>
                </div>
            </div>
        </div>
    </div>
    </template>

    <template id="settings_replay">
        <div>
            <h1>重放的配置如下：</h1>
            <pre>
                <code>
&lt;mvc:cors&gt;
    &lt;mvc:mapping path=&quot;/**&quot;
        allowed-origins=&quot;*&quot;
        allowed-methods=&quot;GET,POST,PUT,DELETE,OPTIONS&quot;
        allowed-headers=&quot;X-Requested-With&quot; /&gt;
&lt;/mvc:cors&gt;
                </code>
            </pre>
            <p>注：以上是spring mvc项目的参考配置，其它项目请自行配置</p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="replayUrlHost" class="col-sm-2 control-label">url地址前缀：</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="replayUrlHost" v-model="replayUrlHost" placeholder="url地址前缀, 示例：http://localhost:8080">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn btn-primary" v-on:click="saveToLocalDb()">Save</button>
                </div>
              </div>
            </form>
        </div>
    </template>

    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="js/app.js?v=1_0_5" type="text/javascript" charset="utf8"></script>
</body>
</html>
